/* Contains all the reusable styled components
 * normally I would split each component into separate files, but given the size of this demo I'll leave them all here.
 */

$header-height: 86px;
$header-height-mobile: 66px;

.c-header {
  box-shadow: 0 1px 25px $c-grey-200;
  height: $header-height-mobile;

  @include breakpoint("med") {
    height: $header-height;
  }
}

.c-page {
  position: relative;
  min-height: calc(100vh - #{$header-height});
  padding-bottom: $spacing-lg;
}

@mixin link-style {
  color: $c-black;
  font-size: 18px;
  text-decoration: none;
  transition: opacity 100ms ease;

  @include breakpoint("med") {
    font-size: 22px;
  }

  &:hover {
    opacity: 0.65;
  }
}

.c-logo {
  &:link,
  &:visited,
  &:active {
    @include link-style;
    display: block;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.4;
    text-transform: uppercase;
    padding-top: $spacing-xs;
  }
}

.c-nav {
  @include reset-list;
  display: flex;

  li {
    .c-nav__link {
      @include link-style;
      display: block;
      padding: $spacing-md;
      @include breakpoint("med") {
        padding: $spacing-lg / 2;
      }
    }

    &:last-child {
      .c-nav__link {
        padding-right: 0;
      }
    }
  }

  &__link-active {
    border-bottom: 4px solid $c-yellow;
  }
}

// form and fields

.c-form {
  background-color: $c-white;
  box-shadow: 0 4px 10px 1px $c-grey-200;
  opacity: 0.95;
  padding: $spacing-md;
  margin-top: $spacing-md;

  @include breakpoint("med") {
    padding: $spacing-xl;
    margin-top: 0;
  }

  &__fields {
    @include reset-list;
  }

  &__field {
    margin-bottom: 45px;
  }
}

label {
  display: block;
  margin-bottom: $spacing-sm;
}

input[type="text"],
input[type="email"] {
  background-color: $c-grey-100;
  border-radius: 4px;
  border: none;
  box-shadow: inset 0 2px 10px 2px rgba($c-grey-200, 1);
  font-size: $font-size-3-mobile;
  padding: $spacing-md $spacing-sm;
  width: 100%;

  @include breakpoint("med") {
    font-size: $font-size-3;
  }
}

.c-button {
  background-color: $c-black;
  border-radius: 4px;
  border: 2px solid transparent;
  color: $c-white;
  display: block;
  font-size: $font-size-3-mobile;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: auto;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: opacity 100ms ease;

  @include breakpoint("med") {
    font-size: $font-size-3;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.2;

    &:hover {
      cursor: default;
    }
  }
}

.c-carousel {
  padding-bottom: $spacing-lg; // space for dots on mobile

  @include breakpoint("med") {
    padding-bottom: $spacing-lg;
  }
  &__item {
    height: auto;
    padding: 0 $spacing-sm;
    text-align: left;
    width: 100%;
  }
}
