/* 
 * Helpful general use, reusable helper mixins
 */

@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* breakpoint helper
 * Only included one breakpoint
 * To use: @include breakpoing("med")
 */
@mixin breakpoint($condition) {
  @if $condition == "med" {
    @media only screen and (min-width: $bp-md) {
      @content;
    }
  }
}
