// contains reusable objects, mostly containers

.o-content {
  padding-top: $spacing-xl;

  @include breakpoint("med") {
    padding-top: 120px;
  }
}

.o-page-content {
  margin: 0 15%;
}

.o-container {
  margin: 0 auto;
  max-width: $site-container-width;
  padding: 0 40px;
  width: 100%;
  @include breakpoint("med") {
    padding: 0 $spacing-lg;
  }
}

// flex container objects

.o-flexbox {
  @include breakpoint("med") {
    align-items: center;
    display: flex;
  }
}

.o-flexbox-spaced {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

// flex item objects

.o-flex {
  @include breakpoint("med") {
    padding: 0 $spacing-md;
  }
}

.o-flex-1 {
  flex: 1;
}
.o-flex-5 {
  flex: 6;
}
.o-flex-7 {
  flex: 7;
}

// background objects

.o-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;

  // grey gradient for blending
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($c-grey-200, $alpha: 0.1);
  }
}
