/*
 * This file contains styling that overrides style from plugins
 */

// Flickity overrides

.flickity-button.flickity-button {
  display: none;
}

.flickity-page-dots.flickity-page-dots {
  position: relative;
  text-align: left;

  @include breakpoint("med") {
    position: absolute;
  }

  .dot.dot {
    background-color: $c-white;
    height: 20px;
    width: 20px;
    border: 2px solid $c-grey-400;

    &.is-selected {
      background-color: $c-black;
      border-color: $c-black;
    }
  }
}
