@mixin heading-1 {
  font-size: $font-size-1-mobile;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0 0 40px;
  text-transform: uppercase;

  @include breakpoint("med") {
    font-size: $font-size-1;
    margin: 0 0 $spacing-lg;
  }
}

@mixin body-text {
  color: $c-grey-400;
  font-size: $font-size-2-mobile;
  font-weight: 400;
  line-height: 1.5;

  @include breakpoint("med") {
    font-size: $font-size-2;
  }
}

@mixin form-label {
  font-size: $font-size-3-mobile;
  color: $c-grey-300;
  @include breakpoint("med") {
    font-size: $font-size-3;
  }
}

.u-heading-1 {
  @include heading-1;
}

label {
  @include form-label;
}

p {
  @include body-text;
}
