// utility functions go here

.u-spacing-right-small\@medium.u-spacing-right-small\@medium {
  @include breakpoint("med") {
    padding-right: $spacing-sm;
  }
}

.u-spacing-left-small\@medium.u-spacing-left-small\@medium {
  @include breakpoint("med") {
    padding-left: $spacing-sm;
  }
}

.u-text-right.u-text-right {
  text-align: right;
}

.u-text-left.u-text-left {
  text-align: left;
}

.u-text-center.u-text-center {
  text-align: center;
}
