/* 
 * All variables here
 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700");

// colours:
$c-black: #000;
$c-white: #fff;
$c-yellow: #ffcc00;
$c-grey-100: #fafafa;
$c-grey-200: #f5f2f6;
$c-grey-300: #bababa;
$c-grey-400: #999;

// spacing
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 55px;
$spacing-xl: 70px;

$site-container-width: 2340px;

// font sizes
$font-size-1: 54px;
$font-size-1-mobile: 38px;
$font-size-2: 29px;
$font-size-2-mobile: 22px;
$font-size-3: 19px;
$font-size-3-mobile: 16px;

// breakpoints
// for simplicity ive just done the one bp

$bp-md: 900px;
